form{
    background-color: rgb(5, 5, 37);
    width: 20rem;
    height: 25rem;
    margin: auto;
    border-radius: 1rem;
}
.screen-input{
    outline: none;
    border: 3px solid transparent;
    background-color: #fff;
     padding: 0.7rem 0rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 90%;
}
.screen [value]{
    top: 0;
    right: 0;
}